
<div class="container">
	<div class="row">
		<a href="#">
			<div class="logo">
				<img ng-src="{{$ctrl.icons.eagleUrl}}" alt="{{$ctrl.icons.eagleUrl}}">
			</div>
		</a>
		<a href="#!/navigation">
			<div class="nav-icon1">
				<span></span>
				<span></span>
				<span></span>
				<div class="icon-container"></div>
			</div>
		</a>
		<div class="top-wrapper">
			<h1>Borys Koblents</h1>
			<p>front-end developer</p>
		</div>
	</div>

	<section class="about" id="about">
		<div class="section-header">
			<h2>About me</h2>
			<div>
				<p>Let's get acquainted</p>
				<div class="divider"></div>
			</div>
		</div>
		<div class="section-content">
			<div class="row">
				<div class="col-md-4">
					<h4>Bit about me</h4>
					<p class="accent">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Maxime aspernatur architecto itaque dignissimos asperiores ea
						commodi nam consequatur, corporis sequi iure illum voluptatibus
						quasi quia, placeat ad nesciunt eum aperiam!
					</p>
					<p>
						I’m an experienced Website Developer looking to continue my career
						within agency side development.
						I have good design and coding skills, as well as an ability to convert
						client requirements into exciting online applications.
					</p>
				</div>
				<div class="col-md-4">
					<h4>photo</h4>
					<div class="my-photo"></div>
				</div>
				<div class="col-md-4">
					<h4>Personal info</h4>
					<h5>Borys Koblents</h5>
					<ul>
						<li>Proffesional web-development and landing to CMS Wordpress.</li>
						<li>Birth date: 5 dec 1993</li>
						<li>Phone-number: +380 93 3733 011</li>
						<li>E-mail: dkoblenc@gmail.com</li>
						<li>https://notalama.github.io/ng-portfolio/</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</div>
