<div class="container">
    <div class="row">
        <div class="top-wrapper">
            <div class="col-md-12">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-group">
                                <span>*</span>choose color...
                                <select name="colorSelect" id="">
                                    <option value="lightRed">lightRed</option>
                                    <option value="lightBlue">lightBlue</option>
                                    <option value="lightGreen">lightGreen</option>
                                    <option value="lime">lime</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="form-group">
                                <span>*</span>type enother text...
                                <input type="text" placeholder="type enother text...">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>