<div class="container">
    <div class="row">
        <div class="top-wrapper">
            <div class="col-md-12">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <md-input-container>
                                <md-select ng-model="$ctrl.color">
                                    <md-option value="lakalut">
                                        <em>lakalut</em>
                                    </md-option>
                                    <md-option value="kalka">
                                        <em>kalka</em>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="form-group">
                                <span>*</span>type enother text...
                                <input type="text" placeholder="type enother text...">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>